{% extends 'blog/base.html' %}
{% block body %}
    <div class="container">
        <h1>{{ user.username }}</h1>
        <p>Псевдоним: {{ user.author.handle }}</p>
        <img src="{{ user.author.image.url }}" alt="{{ user.username }}" class="img-responsive" style="height: 300px">
        <p>Карма: {{ user.author.rating }}</p>
        <p>Посты: </p>
        <ul>
        {% for post in user.post_set.all %}
            <li><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}