{% extends 'blog/base.html' %}
{% block title %} Профиль {% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <form class="form-horizontal" action="" enctype="multipart/form-data" method="post" novalidate>
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ author_form.as_p }}
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Изменить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

{% endblock %}