{% extends 'blog/base.html' %}

{% block title %}Вход{% endblock %}

{% block body %}
    <div class="container">
        <h2>Вход</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
{% endblock %}