<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Блог{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{% static 'blog/main.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'blog:index' %}">Блог</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class=""><a href="{% url 'blog:index' %}"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Посты</a></li>
                <li class=""><a href="{% url 'blog:hot' %}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Топ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'blog:post-create' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Добавить пост
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'blog:author-posts' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>Мои посты
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'blog:author-update' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>Профиль
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'blog:logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>Выйти
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'blog:login' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>Войти
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'blog:register' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>Регистрация
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>
{% block body %}
{% endblock %}

<footer class="footer" style="margin-top: 30px;">
    <div class="container">
    <hr>
        <div class="text-center center-block">
            <p class="txt-railway">Django Blog</p>
            <br/>
                <a href="https://www.facebook.com/rjlth"><i class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://bitbucket.org/rjlth/"><i class="fa fa-bitbucket-square fa-3x social"></i></a>
	            <a href="mailto:zhandos.kapezov@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
    <hr>
</div>
</footer>
</body>
</html>