{% extends 'blog/base.html' %}
{% block body %}
    <div class="container">
        <div class="col-sm-12">
            <h1>{{ post.title }}</h1>
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-responsive">
            <p>{{ post.text }}</p>
            <p>rating: {{ post.rating }}</p>
        </div>
        
        <div class="col-sm-12">
            <form action="{% url 'blog:post-comment' post.id %}" class="form form-horizontal" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea name="text" rows="10" style="width: 100%"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Оставить коментарий</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-12">
            <div class="row">
                {% for comment in post.comment_set.all %}
                <ul class="media-list">
                    <li class="media">
                        <a class="media-left" href="{% url 'blog:author-detail' comment.user.id %}">
                            <img src="{{ comment.user.author.image.url }}" alt="{{ comment.user.author.handle }}" style="height: 100px;">
                            <p class="text-center">{{ comment.user.author.handle }}</p>
                        </a>
                        <div class="media-body">
                            {{ comment.text }}
                        </div>
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
    
    
{% endblock %}