{% extends 'blog/base.html' %}

{% block body %}
    <div class="container">
    {% if post_list %}
        {% for post in post_list %}
            {% if not forloop.counter|divisibleby:"2" %}
                <div class="row">
            {% endif %}
            <div class="col-sm-6" style="margin-top: 20px;">
                <div style="border: 1px solid black; border-radius: 2px;">
                    <p>published at: {{ post.published_date }}</p>
                    <p>published by <a href="{% url 'blog:author-detail' post.user.id %}">{{ post.user.author.handle }}</a></p>
                    <h2><a href="{%  url 'blog:detail' post.id %}">{{ post.title }}</a></h2>
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-responsive">
                    <p class="post-rating">rating: {{ post.rating }}</p>
                    <p>
                        Категория:
                        <a href="{% url 'blog:category-list' post.category.url %}">{{ post.category.name }}</a>
                    </p>
                    <a class="post-like" href="{% url 'blog:post-like' post.id %}">Нравится</a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"2" or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>There is no posts</p>
    {% endif %}
    </div>
{% endblock %}