{% extends 'blog/base.html' %}

{% block body %}
    <div class="container">
    {% if post_list %}
        <div class="row">
        {% for post in post_list %}

            <div class="col-sm-12">
                <p>published: {{ post.published_date }}</p>
                <h2><a href="{%  url 'blog:detail' post.id %}">{{ post.title }}</a></h2>
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-responsive">
                <p class="post-rating">rating: {{ post.rating }}</p>
                <a href="{% url 'blog:post-update' post.id %}" class="btn btn-success" >Изменить</a>
                <form action="{% url 'blog:post-delete' post.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger">Удалить</button>
                </form>
            </div>

        {% endfor %}
        </div>
    {% else %}
        <p>У вас нет постов</p>
    {% endif %}
    </div>
{% endblock %}