{% extends 'blog/base.html' %}
{% block title %} Регистрация {% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <form class="form-horizontal" action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% include 'blog/form_template.html' %}
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Добавить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

{% endblock %}